body{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.navBar{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.hero{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 256px;
}

.quote{
    font-size: 36px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 64px 128px;
    margin: 0px;
}

.footer{
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    font-size: 36px;
    background-color: #1F2937;
}

button{
    background-color: #3882F6;
}

.img{
    align-self: center;
    width: 256px;
    height: 128px;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

h1{
    align-self: center;
}

.infoPane{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 156px;
}

.tileImage{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 128px;
    height: 128px;
    border-width: 60px;
    border-color: #3882F6;
    border-radius: 24px;
    border: 80px #3882F6;
}

.callToAct{
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    margin: 32px 300px;
    color: #F9FAF8;
    border-radius: 12px;
}

.container{
    display: flex;
    justify-content: space-between;

}

button{
    background-color: #3882F6;
    border: 8px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding: 6px 12px;
    border-radius: 8px;
}

.author{
    display: flex;
    align-self: flex-end;
}

p{
    margin: 0px;
}

.herotext{
    width: 256px;
}

.border{
    border-width: 8px;
    border-color: #3882F6;
}