body{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.navBar{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.hero{
    display: flex;
    justify-content: space-evenly;
    
}

.quote{
    font-size: 36px;
    background-color: #E5E7EB;
}

.footer{
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    font-size: 36px;
    background-color: #1F2937;
}

button{
    background-color: #3882F6;
}

.img{
    align-self: center;
}